<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title appMydirective>medicion {{idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-row>
      <ion-col>
        Medicion
      </ion-col>
      <ion-col>
        Fecha
      </ion-col>
      <ion-col>
        Valor
      </ion-col>      
    </ion-row>
  

    <div *ngFor="let element of Mediciones ; let i=index" >
      <ion-row>
        <ion-col>
          {{Mediciones[i].medicionId}}
        </ion-col>
        <ion-col>
          {{Mediciones[i].fecha}}
        </ion-col>
        <ion-col>
          {{Mediciones[i].valor}}  kPA
        </ion-col>      
      </ion-row>
     <!-- <p>{{Mediciones[i] | medicionesPipe}}</p>-->
  
    </div> 
</ion-content>
