
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-header>
  <ion-toolbar>
    <ion-title>electrovalvula {{idDispositivo}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!-- <p>{{ultimoLogRiegos| json}}</p>-->
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div [ngSwitch]= "apertura">
    <ion-toggle *ngSwitchCase="1" checked style="margin:10%; width:75%; height:40px;" (ionChange)="OnChange()"></ion-toggle>
    <ion-toggle *ngSwitchCase="0" style="margin:10%; width:75%; height:40px;" (ionChange)="OnChange()"></ion-toggle>
  </div>  
  
</ion-content>
