
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<div *ngIf="loaded == 1">
  <ion-header>
   <!-- <ion-toolbar >
      <ion-title>Nombre: {{dispositivo.nombre}}</ion-title>             
      <ion-label>Id: {{idDispositivo}}</ion-label>
      <br/>      
      <ion-label>Ubicacion:{{dispositivo.ubicacion }}</ion-label>
      <br/>      
      <ion-label>ElectrovalvulaId:{{dispositivo.electrovalvulaId}}</ion-label>
    </ion-toolbar>-->
  </ion-header>      
  
    <app-detalle-sensor [sensorNumber]=idDispositivo></app-detalle-sensor> 
  
  <div *ngIf="apertura == 1" > 
  <ion-button shape="round" expand="full" (click)="botonElectrovalvulaAbrir()" >ABRIR ELECTROVALVULAS</ion-button>
  </div>
  <div *ngIf="apertura == 0" > 
    <ion-button shape="round" expand="full" (click)="botonElectrovalvulaCerrar()" >CERRAR ELECTROVALVULAS</ion-button>
    </div>
  <ion-button shape="round" expand="full" routerLink="/medicion/{{idDispositivo}}" routerDirection="root" >VER TODAS LAS MEDICIONES</ion-button>
  <ion-button shape="round" expand="full" routerLink="/log-riegos/{{dispositivo.dispositivoId}}" routerDirection="root">VER LOG DE RIEGOS</ion-button>
 </div>
</ion-content>
