<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      Dispositivos de Riego
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" appMydirective>Dispositivos</ion-title>      
    </ion-toolbar>
    <ion-toolbar>
    <ion-title size="large" >de Riego</ion-title>
  </ion-toolbar>
  </ion-header>
  
  <div *ngFor="let element of dispositivos; let i=index" >    
    <ion-card >
      <ion-item>
        <ion-icon name="speedometer" slot="start"></ion-icon>
        <ion-title>Nombre: {{dispositivos[i].nombre}}</ion-title>
        <ion-button fill="outline" slot="end" routerLink="/dispositivo/{{dispositivos[i].dispositivoId}}" routerDirection="root" >Visitar</ion-button>        
      </ion-item>  
      <ion-item>
        <ion-icon name="location" slot="start" ></ion-icon>
        <ion-card-subtitle>Ubicacion: {{dispositivos[i].ubicacion }}</ion-card-subtitle>
      </ion-item>      
    </ion-card>
    

  </div>
  
  

</ion-content>
